*{
    box-sizing: content-box;
    margin: 0;
    
}


.montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

#Icon{
    display: inline-block;
    background-image:url(assets/icon.jpg);
    margin: 0 25px;
    width: 50px;
    height: 50px;
    background-size: cover;
}

header{
    height: 90px;
}

#Navbar{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10px;
    font-family: "Montserrat", sans-serif;
}

.barEnd{
    display: flex;
    align-content: flex-end;
    align-items: center;
    padding: 7px 16px;
}

.bar a{
    padding: 7px 16px;
}

.bar{
    background-color: white;
    color: black;

    
}

.bar1{
    background-color: black;
    color: white;
    
}

#Navbar nav{
    display: flex;
    align-content: baseline;
    padding: 40px 0;
    background-color: #fefefeff;
    width: 98%;

}

a{
    color: black;
    text-decoration: none;
}

section img{
    width: 50%;
}

.navbarbuttom, #Icon{
    vertical-align: middle;
}



.navbarbuttom{
    display: inline-block;
    font-weight: bold;
    margin: 0 20px;

}

.navbarbuttom a{
    color: #212121;
    padding-bottom: 30px;
}

#Navbar a:hover{
    border-bottom: 6px solid #00754a;
    color: #00754a;
}

section{
    align-content: center
}

.banner{
    display: flex;
    background-color: #1e3932;
    color: white;
    text-align: center;
    margin: 3% 10%;
    font-family: "Montserrat", sans-serif;
}

.banner h1{
    font-size: 28px;
    margin-bottom: 25px;
}

.banner p{
    font-size: 18.5px;
    line-height: 35px;
}

.banner div{
    align-content: center;
    padding: 0 80px;
}

button{
    font-size: 25px;
    border-radius: 50px;
    margin: 0 10px ;
    height: 40px;
    width: 30%;
}

#berry{
    color: #204285;
    background-color: #bdceff;
}

#lavanda{
    color: white;
    background-color: #c3a6c6 ;
}

#Merch{
    color: #204285;
    background-color: #bfdeda;
}
#Merch button{
    background-color: #bfdeda
}

#NS {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: white;
}

#text{
    padding: 20px;
    height: 8em;

}

#NS img{
    width: 100%;
}

#noticias{
    background-color: #bdceff;
    color: #2a5ea8;
    font-weight: 600;
}

#Terminos{
    background-color: #f5bc93;
    color: #1d1d1b;
    font-weight: 600;
}

#btninf {
    justify-content: center;
    padding: 7px 16px;
    border-radius: 50px;
    align-items: center;
}



footer.superior{
    display: flex;
    justify-content: flex-start;
    color:#000;
    padding: 20px 10%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border-top: 1px solid #ddd;
    
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    margin: 20px 5px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-section ul li {
    margin-bottom: 15px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #666;
}

.footer-section ul li a:hover {
    text-decoration: solid;
    color: #000;
}

footer.inferior{
    color: #9c9b99;
    padding: 10px 10%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-top: 1px solid #ddd;
    justify-content: center;
    
}

.footer-bottom {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 16px;
    padding: 10px  30px;
}

.enlaces{
    justify-content: center;    
}

.footer-bottom ul li a{
    color: #666;
}

.footer-bottom ul li a:hover{
    text-decoration: solid;
    color: #000;
} 

.footer-bottom ul{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    
}

nav.final{
    justify-content: center;
}

    @media screen and (max-width: 769px) {

        header {
            height: auto;
            margin: 0;
        }
    

        #Navbar {
            align-items: center;
            justify-content: space-around;
            margin-left: 0;
        }
    
        .barEnd {
            margin-left: 1px;
            justify-content: end ;
        }
    
        .navbarbuttom {
            margin: 10px 0;
            display: block;
            text-align: center;
        }
    
        #Icon {
            width: 50px;
            height: 50px;
            margin: 0;
        }
    
        section img {
            width: 60%;
        }
    
        .banner {
            text-align: center;
            padding: 0px;
            margin: 5%;
        }
    
        .banner div {
            padding: 0;
        }

        .banner h1{
            font-size: 16px;
            margin-bottom: 12.5px;
        }
        
        .banner p{
            font-size: 13px;
            line-height: 17px;
        }
    
        button {
            font-size: 16px;
            padding: 7px 16px;
            margin: 5px;
            width: 50%;
        }
    
        #NS {
            align-items: center;
            gap: 10px;
        }
    
        #NS img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    
        footer.superior {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 20px;
        }
    
        .footer-container {
            gap: 20px;
            align-items: center;
            text-align: center;
        }
    
        .footer-section {
            text-align: center;
        }
    
        .footer-bottom {
            
            text-align: center;
            padding: 10px;
        }
    
        .footer-bottom ul {
        flex-wrap: wrap;
            gap: 10px;
        }
    }
    








#Navbar1{display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10px;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    top: 0;
    float: inline-start;
    width: 100%;
    height: 4%;
    box-shadow: 0 4px 4px -4px #ccc;
    z-index: 1000;
    }

.second {    
    display: flex;
    align-content: baseline;
    padding: 40px 0;
    background-color: #fefefeff;
    width: 98%;
    
}



#starbucks-rewards div{
display: flex;
justify-content: center;

}

#starbucks-rewards{
    display: block;
    position: fixed;
    margin-top: 20px;
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
    color: #ffffff;
    box-shadow: rgb(204, 204, 204) 7px 0px 4px -4px;
    width: 40%;
    height: 50em;
    align-content: center;
    padding: 10px;
}
.box{
    display: block;
    flex-direction: column;
    padding: 0 50px;
}
#starbucks-rewards h2{
    font-size: 26pt;
    font-weight: 400;
    padding: 16px 0 8px;
    font-family: "Montserrat", sans-serif;
}

#starbucks-rewards img{
    display: flex;
    vertical-align: middle;
    margin: 0 50px;
    
}

.log{
    display: inline-block;
    font-size: 10pt;
    font-weight: 700;
    border-radius: 35px;
    padding: 6px 12px ;
    width: auto;
    text-decoration: none;
    cursor: pointer;
}

#sn{
    background-color: transparent;
    color: white;
}

#phone{
    background-repeat: no-repeat;
background-position: 100% 100%;
background-size: contain;
content: "";
display: block;
position: absolute;
bottom: 0;
right: 0;
width: 40%;
height: 30%;
z-index: 0;

}



.rewards{
    width: 55%;
    padding: 40px;
    height: 30%;
    align-content: flex-end;
    
}

#section1 {
    display: flex;
    position: relative;
    float: right;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    flex-wrap: wrap;

}


.seccion1{
    display: flex;
    flex-direction: column;
    align-content:  center;
    justify-content: center;
    padding: 0 8px;
    width: 22%;
    height: 20%;
}

.desing{
    display: flex;
    margin: 0 88px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 80%;
}

#section1 h2{
    margin: 0 0 21px 0;
    font-weight: 400;
    width: 100%;
    font-size:1.7rem ;

}

#section1 img{
    vertical-align: middle;
    border-style: none;
    display: inline-block;
    width: 128px;
    height: 100px;
}

span{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}





/*#box{
    top: 50px;
    left: 20px;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    background-color: tomato;
    color: white;
}*/


